In [2]:
from __future__ import division
import requests
from lxml import html
import time
from bs4 import BeautifulSoup # For HTML parsing
import urllib2 # Website connections
import re # Regular expressions
from time import sleep # To prevent overwhelming the server between connections
from collections import Counter # Keep track of our term counts
from nltk.corpus import stopwords # Filter out stopwords, such as 'the', 'or', 'and'
import pandas as pd # For converting results to a dataframe and bar chart plots
from collections import Counter, defaultdict
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
one_grams = pickle.load(open('one_grams_data_scientist_data_analyst.pkl','rb'))
two_grams = pickle.load(open('two_grams_data_scientist_data_analyst.pkl','rb'))
one_grams = one_grams[:-1]
two_grams = two_grams[:-1]

In [4]:
one_gram_counter = Counter()
two_gram_counter = Counter()
for job_title in one_grams:
    one_gram_counter.update(job_title.keys())
for job_title in two_grams:
    two_gram_counter.update(job_title.keys())

In [5]:
# get average counts for comparison
# probably a better way to do this with map reduce. 
one_gram_avg = defaultdict(int)
two_gram_avg = defaultdict(int)
for job_title in one_grams:
    for key,val in job_title.iteritems():
        one_gram_avg[key] += val/one_gram_counter[key]

for job_title in two_grams:
    for key,val in job_title.iteritems():
        two_gram_avg[key] += val/two_gram_counter[key]

In [11]:
tf_rtf_one = [dict() for i in one_grams] 

for i in range(len(one_grams)):
    for key in one_grams[i].keys():
        tf_rtf_one[i][key] = (one_grams[i][key] * (one_grams[i][key] - one_gram_avg[key]))
og = pd.DataFrame(tf_rtf_one[0].items())
og.sort_values(by=1,ascending=False)

In [7]:
tf_rtf_two = [dict() for i in two_grams] 
for i in range(len(two_grams)):
    for key in two_grams[i].keys():
        tf_rtf_two[i][key] = (two_grams[i][key] / two_gram_avg[key])

In [13]:
og = pd.DataFrame(tf_rtf_one[0].items())
og.sort_values(by=1,ascending=False)

                   0        1
15220      scientist  85075.0
3934               r  29347.5
214          machine  29016.0
3361          python  28013.0
5747        learning  27248.0
2211         science  25536.0
12012      analytics  20070.5
7080      statistics  18944.0
996           models  18826.5
5352     statistical  15875.0
15153     algorithms  15372.0
16700     predictive  15262.5
11473    engineering  13975.0
8892        modeling  11529.0
7811        computer  10043.0
4676      techniques   9024.0
743              big   8800.0
13950       insights   8563.5
8476     programming   8400.0
15748         hadoop   8100.0
16053       problems   8051.0
2367        research   7952.0
1934    technologies   7332.0
9764          mining   7200.0
10184        careers   7161.0
9037     opportunity   7150.0
2972              us   7128.5
773     quantitative   6870.5
2077           large   6300.0
1706      technology   6270.0
...              ...      ...
3352            2016  -5928.0
6492       reporting  -5994.0
14433         review  -6148.0
3348   communication  -6264.0
13127              -  -6346.0
5767         systems  -6460.0
7829           state  -6506.5
13645         center  -6586.0
16434        related  -6624.0
5633           title  -6723.0
6473          degree  -6723.0
8733        analysis  -6739.0
1252            data  -6820.0
118          reports  -6833.5
16410         search  -6933.5
8440            type  -6975.0
16867      education  -6992.0
7153     application  -7182.0
7187        required  -7280.0
2236     information  -7747.0
13988   requirements  -7876.5
4254            work  -8798.0
2144      experience  -8977.5
911          support  -9191.0
16629         please  -9945.0
12883    description -10369.5
307           skills -11099.5
16749            job -11220.0
7608      management -11918.5
9221         analyst -12307.0

[17207 rows x 2 columns]